---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const projects = (await getCollection("projects")).slice(0,3);
---

<section>
  <h2>Projects</h2>

  {projects.map(p => <ProjectCard project={p} />)}

  <a href="/projects">See More →</a>
</section>
