---
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hi! My name is <span class="text-orange">Saransh Kawadkar</span> and I am a web developer based in New
				York.
			</h1>
		</div>
		<div class="mb-10">
			<Button style={'primary'} size={'lg'} class={'flex'} name="learn more">Learn more</Button>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
			<img
				src="https://assets.bucketlistly.blog/sites/5adf778b6eabcc00190b75b1/assets/6075182186d092000b192cee/best-free-travel-images-image-2.jpg"
				alt="Coding girl"
				width="600"
				height="600"
				loading="eager"
				class="max-w-full h-auto"
			/>
	</div>
</section>
