---
const { project } = Astro.props;
---

<div class="card">
  <img src={project.data.cover} width="100%" />
  <h3>{project.data.title}</h3>
  <p>{project.data.summary}</p>
  <a href={`/projects/${project.slug}`}>View</a>
</div>
