---
import Sidebar from '@components/layout/Sidebar.astro';
import { SEO } from 'astro-seo';
import "@styles/global.css";
import '@fontsource/cal-sans';
export interface LayoutProps {
	title: string;
}

const { title = 'Saransh | Web developer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body class="bg-neutral-100 font-sans text-neutral-900 min-h-screen gap-6 flex">
			<Sidebar />
			<div class="flex min-w-0 flex-1 flex-col px-4 py-1 lg:px-6">
				<div class="min-h-[calc(100vh-1rem)] overflow-y-scroll rounded-md bg-white px-6 py-10 shadow-sm ring-1 ring-black/5 sm:px-10">
					<slot />
				</div>
			</div>
	</body>
</html>
