---
---

<a href="https://github.com/" target="_blank" rel="noopener" aria-label="github" class="text-2xl hover:text-orange">
	🐙
</a>
<a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="linkedin" class="ml-4 text-2xl hover:text-orange">
	🔗
</a>
<a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="twitter" class="ml-4 text-2xl hover:text-orange">
	🐦
</a>
