---
export interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<div class="mt-2 flex w-2/3 flex-row flex-wrap justify-between">
			{tags.map((tag) => (
				<span class="inline-block rounded p-2 text-xs text-orange border-solid border-orange border lg:p-1">#{tag}</span>
			))}
		</div>
	)
}
